<label *ngIf="!noLabel">{{ title }}</label>
<div class="main" (click)="toggle()" [ngClass]="{ 'expanded': isOpen }">
    {{ selectedOption || placeholder }}
    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 6.09766L11.3613 0.736328L11.8887 1.26367L6 7.15234L0.111328 1.26367L0.638672 0.736328L6 6.09766Z"
            fill="black" fill-opacity="0.8" />
    </svg>
</div>
<div *ngIf="isOpen" class="dropdowm-item-container">
    <perfect-scrollbar fxFlex [ngStyle]="{'max-height.px': visibleItemsListHeight}">
        <div *ngFor="let option of options" class="dropdowm-item" [ngClass]="{'active' : option === value}"
            [ngStyle]="{'height.px': itemHeight}" (click)="optionSelect(option)">
            {{ option }}
        </div>
        <div class="dropdowm-item" *ngIf="!options.length" (click)="toggle()">No items for select</div>
    </perfect-scrollbar>
</div>