:host {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.page-content {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.alerts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-title {
    font-family: SegoeUI;
    font-size: 20px;
    color: #2D2D2D;
    margin-top: 7px;
    text-transform: capitalize;
}