:host(.header-container) {
    width: 100%;
    height: 40px;
    background: #2D2D2D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-title>a {
    font-family: SegoeUI-Bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin: 0 13px;
}

.navbar {
    height: 100%;
    display: flex;
    margin-left: 30px;
    flex-grow: 2;
}

.navbar>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: calc(100% - 2px);
    margin: 0 15px;
    font-family: SegoeUI;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar>a:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.navbar>a.active {
    border-bottom: 2px solid #0078D7;
}