:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}

.subscriptions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.header-content {
    display: flex;
}

.header-title {
    font-family: SegoeUI;
    font-size: 20px;
    color: #2D2D2D;
    margin-top: 7px;
    text-transform: capitalize;
}