:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 999px;
    font-family: SegoeUI;
    font-size: 12px;
    color: white;
    background: #2D9CDB;
    text-transform: uppercase;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
}

:host>img {
    width: 100%;
    height: 100%;
}