<label>{{ title }}</label>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row">
        <app-select title="Status" [options]="values.statuses" formControlName="status" placeholder="Select status">
        </app-select>
    </div>
    <div class="form-row">
        <app-select title="Feedback" [options]="values.feedbacks" formControlName="feedback"
            placeholder="Select feedback"></app-select>
    </div>
    <div class="form-row">
        <app-textfield title="Assign To" vertical="true" type="text" formControlName="assignedTo"
            placeholder="Enter UPN">
        </app-textfield>
    </div>
    <div class="form-row">
        <app-textarea title="Comments" vertical="true" type="text" formControlName="newComment"
            placeholder="Enter comments here">
        </app-textarea>
    </div>
    <div class="form-actions">
        <app-button class="submit" title="Update alert" (btnClick)="submit()" [disabled]="!form.valid">
        </app-button>
    </div>
</form>