<header>
    My account
    <div class="close" (click)="close()">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.57617 0.951172L5.5332 5L9.57617 9.04883L9.04883 9.57617L5 5.5332L0.951172 9.57617L0.423828 9.04883L4.4668 5L0.423828 0.951172L0.951172 0.423828L5 4.4668L9.04883 0.423828L9.57617 0.951172Z"
                fill="black" />
        </svg>
    </div>
</header>

<div class="user-info-container">
    <app-user-logo *ngIf="user" [user]="user" size="88"></app-user-logo>
    <div class="text">
        <div>
            <div [title]="user?.name">{{user?.name}}</div>
            <div [title]="user?.displayableId">{{user?.displayableId}}</div>
        </div>
        <a class="action" (click)="LogOut()">Sign out</a>
    </div>
</div>