<div *ngIf="chart"
  [ngClass]="{'dashboard-diagram-container': isDashboard, 'secure-score-diagram-container': isSecureScore}">
  <canvas [ngClass]="{'dashboard-nut': isDashboard, 'secure-score-nut': isSecureScore}" baseChart height="100"
    width="100" [data]="chart.data" [labels]="chart.labels" [chartType]="chart.type" [options]="chart.options"
    [legend]="chart.legend" [colors]="chart.colors">
  </canvas>
  <div class="info">
    <div class="top">
      <div>
        <span>Current<br />Score</span>
      </div>
      <div>
        <span>Max<br />Score</span>
      </div>
    </div>
    <div class="bottom">{{ doughnutData.currentScore }} / {{ doughnutData.maxScore }}</div>
  </div>
</div>