.url {
    display: flex;
    align-items: center;
    font-family: SegoeUI;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    padding: 0 15px;
    overflow: hidden;
}

.url:nth-child(even) {
    background: #F6F6F6;
}

.url>div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}